#imp {
  color: red;
}
#container {
  width: 800px;
  margin: 0 auto;
}

#addProduct h1 {
  text-align: center;
}
#addProduct #formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
#addProduct #formField label {
  margin-bottom: 9px;
}
#addProduct #formField input {
  height: 37px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  font-size: 18px;
  padding-left: 10px;
}

#addProduct #formField textarea {
  border: 1px solid #e1e1e1;
  height: 100px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 3px;
  padding-top: 5px;
}
#addProductBtn {
  height: fit-content;
  width: 120px;
  margin-bottom: 40px;
  background: #4caf50;
  border: 0;
  color: white;
  padding: 12px;
  font-size: larger;
  border-radius: 3px;
  cursor: pointer;
}
