#homeContainer {
  height: fit-content;
}

#sortUnsort {
  display: flex;
  width: 90%;
  height: fit-content;
  flex-direction: row-reverse;
  padding-top: 40px;
}

#sortUnsort button {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
}

#sortUnsort button:hover,
#sortUnsort button:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

#sortUnsort button:active {
  opacity: 0.5;
}

#unsort span {
  background-color: initial;

  border: 1px solid #ff4742;
  border-radius: 6px 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ff4742;

  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
}
#unsort button {
  border-radius: 0 6px 6px 0;
  border-left-color: 2px solid grey;
}
