#homeContainer{
    height:fit-content;
}

#sortUnsort{
    display: flex;
    width: 90%;
    /* margin: auto ; */
    height: fit-content;
    flex-direction: row-reverse;
    padding-top: 40px;
    /* margin-inline: 40px; */
    /* margin-top: 40px; */

}



/* CSS */
#sortUnsort button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#sortUnsort button:hover,
#sortUnsort button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

#sortUnsort button:active {
  opacity: .5;
}


#unsort span{
  background-color: initial;
    
    border: 1px solid #FF4742;
    border-radius: 6px 0 0 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
  color: #FF4742;
    
    /* cursor: pointer; */
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
#unsort button{
    border-radius: 0 6px 6px 0;
    border-left-color: 2px solid grey;
}